body
{
    background-color:rgb(70, 66, 66)
  
}

#img
{
    padding-top: 5px;
    text-align: center;
}

h2
{
  padding-top: 1%;
}


#wifi
{
    padding-top: 150px;
    margin-left: 200px;
    float: left;
    height: 165px;
    width: 155px;



}

#wifi:hover
{
  transform:scale(1.25, 1.25);
}


#geo
{
    padding-top: 150px;
    margin-left: 200px;
    padding-right: 12%;
    width: 145px;
    height: 175px;
  
}

#geo:hover
{
  transform:scale(1.25, 1.25);
}


#qrcode
{
  
    float: right;
    padding-top: 150px;
    padding-right: 200px;
    height: 100px;
    width: 100px;
    
}
#qrcode:hover
{
  transform:scale(1.25, 1.25);
}




