
body
{
    background-color:rgb(70, 66, 66)
}
#img
{
    padding-top: 5px;
    text-align: center;
}

#quem_somos
{
    padding-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    text-align: center;

}



